body {
  font-family: "Roboto", sans-serif;
}

:root {
    --hover-color: #2196f3; 
    --focus-color: #2196f3;
    --main-text-color:  #212121;
    --add-text-color: #757575;

}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 94px;
  
}

.container {
margin-left: auto;
margin-right: auto;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
}
/*-------------header--------------*/
header {
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
}

.flex-container {
display: flex;
align-items: center;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}


.header-nav {
  display:flex;
  align-items: center;
  
}


.logo {
font-family: 'Raleway';

font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
text-decoration: none;
cursor: pointer;
}

.logo-web {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.navlist {

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  margin-bottom: 0;
  margin-left: 93px;
  display:flex;
  gap: 50px;

}

.list-item {

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--main-text-color);
  text-decoration: none;
}

.list-item:hover {
  color: var(--hover-color);
}

.list-item:focus {
  color:var(--focus-color);
}

.navlist .list-item.current {
    color: var(--focus-color);
}


.header-contacts{
margin-left: auto;
display: flex;
gap: 50px;

}


.nav-site {

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}



.nav-tel {

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.nav-site:hover {
  color:var(--hover-color);
}

.nav-site:focus {
  color: var(--focus-color);
}

.nav-tel:hover {
  color: var(--hover-color);
}
.nav-tel:focus {
  color:var(--focus-color);
}
/*-------------main----------------*/
.main {
    background: #ffffff;
}

/*--------------filter section-------------*/

.fltr-list {
    list-style: none;
}

.fltr-button {
    background: #F5F4FA;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

.fltr-button:hover {
    background: var(--hover-color);
}

.fltr-button:focus{
background: var(--focus-color);
}

.fltr-txt {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

/*--------------------projects cards---------------*/

.card-list {
    list-style: none;
}


.card-item {
    text-decoration: none;
}

.card-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.card-type {
font-weight: 400;
font-size: 16px;
line-height:1.88;
letter-spacing: 0.03em;
color: #757575;
}

/*---------footer---------*/

.footer {
background: #2F303A;
}

.footer-studio {
    font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.adress {

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.nav-site-footer, .nav-tel-footer {
    
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
